body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.home,
.contact,
.detail,
.favs {
	padding: 5rem;
}


.navbar {
	background-color: rgb(204, 204, 204);
}

nav {
	display: flex;
	width: 100%;
	justify-content: space-around;
}

nav div {
	display: flex;
	width: 20vw;
	align-items: center;
	justify-content: space-around;
}

nav div i {
	font-size: 2rem;
	cursor: pointer;
}


footer {
	background-color: rgb(212, 183, 102);
	display: flex;
	justify-content: space-around;
	text-align: center;
	padding: 2rem 0;
	position: relative;
	bottom: 0;
	width: 100%;
	height: 40px;
}

footer div {
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 4%;
}

footer div:nth-child(1) img {
	width: 150px;
}

footer div:nth-child(1) p {
	width: 7vw;
}

.fa-brands {
	font-size: 1.5rem;
	margin-left: 0.5vw;
	margin-right: 10px;
	cursor: pointer;
	transition: 0.3s;
}
img.pequeña{
	width: 50px;
	height: 50px;
}

.wha:hover{
	color: 	#14b64f;
}

.tiktok:hover{
	color: #ff0022;
}

.insta:hover{
	color: #b93a91;
}

.face:hover{
	color: #849fd9;
}


.card-grid {
	display: flex;
	justify-content: flex-start;
	gap: 1rem;
	width: 85.88vw;
	height: auto;
	flex-wrap: wrap;
	margin: 0 auto;
}

.card {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	width: 200px;
	padding: 0.5rem 0.5rem 0 0.5rem;
	border: 1px solid rgb(136, 136, 136);
	transition: 0.2s;
}

.card:hover {
	border: 1px solid rgb(179, 202, 44);
}

.card img {
	width: 200px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	display: table;
	border: 1px solid #ccc;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

.container-card-detail {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.card-detail {
	width: 40%;
	padding: 20px;
	text-align: center;
	border: 1px solid black;
}

.img-doc-detail {
	width: 30%;
}

.btn-goback {
	width: 30%;
	padding: 10px;
	border: none;
	border-radius: 10px;
	background-color: rgb(255, 143, 143);
	font-size: 1rem;
	font-weight: 700;
	transition: 0.3s;
}

.btn-goback:hover {
	cursor: pointer;
	background-color: rgb(255, 68, 68);
}


.favButton {
	background-color: rgba(136, 136, 136, 0.116);
	padding: 10px;
	margin-bottom: 10px;
	border: 0.5px solid;
	border-radius: 5px;
	width: 80%;
	cursor: pointer;
	transition: 0.3s;
}

.favButton:hover {
	background-color: rgba(58, 58, 58, 0.699);
}

h1 {
	text-align: center;
}

a {
	color: inherit;
	text-decoration: none;
	margin: 5px;
	cursor: pointer;
	transition: 0.2s;
}

a:hover {
	color: rgb(157, 164, 165);
}

.dentist-name {
	font-size: medium;
}

.dentist-username {
	font-size: small;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 300px;
	height: 100px;
	margin: 0 auto;
}

.inputForm{
	display: flex;
	justify-content: center;
	width: 100px;
	height: 30px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
	font-size: medium;
	transition: 0.3s;
}

.inputForm:hover{
	background-color: rgb(184, 221, 144);
}